.gallery {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.photo-card {
  width: 400 px;
}

.img {
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-around;
}

.info-item {
  display: flex;
  flex-direction: column;
  text-align: center;
}
