.search-form {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  height: 30px;
}

.search-input {
  border: solid gray 2px;
}

.search-btn {
  border: solid gray 2px;
}

.btn {
  background-color: rgb(128, 128, 128);
  border: rgb(61, 61, 61);
  color: white;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 20px;
}

.photo-card {
  width: 400 px;

  border-radius: 10px;
  box-shadow: 3px 1px 1px rgb(219, 219, 215);
}

.img {
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.info {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-around;
}

.info-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgb(84, 81, 81);
}

.load-more-contener {
  display: flex;
  justify-content: center;
  height: 30px;
  margin-top: 20px;
}

.hidden {
  display: none;
}
